<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/portfolio/About.jpg" alt="Erika Himsl" width="300" height="350" style="float: left; margin-right: 35px; margin-bottom: 30px; box-shadow: 3px 3px 3px lightgray;"><p style="padding-top: 20px; margin-bottom: 75px;">
        My name is Erika Himsl, and I am an artist from Nova Scotia.<br><br>
          From an early age, storybooks and animation captured my imagination, inspiring me to bring ideas of my own to paper. I 
          sold my first artwork at 12, and by my teens, began sketching portraits for people and their pets. Experimenting with
        acrylic paints during this time opened up my work to a whole new world of colour.<br><br>
        Since then, I've continued to create with traditional and digital media, with a special interest in children's illustration
        and storytelling.</p>
      </div>
      <div class="portfolio-flex-row">
    <div class="col-12 col-md-2"></div>
      <div class="col-12 col-md-3">
        <figure><img src="img/portfolio/dolphins-on-parade-erika-himsl.jpg" class="img-responsive" alt="Dolphins on Parade"><figcaption><i>"Dolphins on Parade" sponsor: Molson<br>Easter Seals &amp; Maritime Forces Atlantic<br>public art project</i></figcaption>
        </figure></div>
      <div class="col-12 col-md-3">
          <figure><img src="img/portfolio/cat-nap-detail-erika-himsl.jpg" class="img-responsive" alt="Dolphins on Parade"><figcaption><i>"Cat Nap" - acrylic (detail)</i></figcaption>
      </figure></div>
      <div class="col-12 col-md-3">
          <figure><img src="img/portfolio/maple-leaves-detail-erika-himsl.jpg" class="img-responsive" alt="Dolphins on Parade"><figcaption><i>"Maple Leaves" - acrylic (detail)</i></figcaption>
      </figure></div><div class="col-12 col-md-1"></div></div>
  </div>
</section>
