<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">     
<div class="col-lg-11">
        <img src="img/portfolio/Woodland-Jam.jpg" class="img-responsive img-centered" alt="Woodland Jam">
</div>   
<div class="col-12 col-md-7">
        <img src="img/portfolio/Cat-Cafe.jpg" class="img-responsive img-centered" alt="Cat Café">
      </div>
        <div class="col-6 col-md-4">
        <img src="img/portfolio/Plein-Air-Painters.jpg" class="img-responsive img-centered" alt="Plein Air Painters">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="col-12 col-md-4">
        <img src="img/portfolio/Through-the-Trees.jpg" class="img-responsive" alt="Through the Trees">
        </div>
      <div class="col-12 col-md-4">
          <img src="img/portfolio/Winter-Friends.jpg" class="img-responsive" alt="Winter Friends">
      </div>
      <div class="col-12 col-md-4">
          <img src="img/portfolio/Home.jpg" class="img-responsive" alt="Home">
      </div>
        <div class="col-12 col-md-8">
        <img src="img/portfolio/Day-at-the-Beach.jpg" class="img-responsive img-centered" alt="Day at the Beach">
      </div><div class="col-12 col-md-4"><img src="img/portfolio/The-Lilac-Bush.jpg" class="img-responsive" alt="The Lilac Bush">
    </div>
      <div class="col-md-6"><img src="img/portfolio/The-Haircut.jpg" class="img-responsive" alt="The Haircut"></div><div class="col-md-6"><img src="img/portfolio/A-Stellar-Dream.jpg" class="img-responsive" alt="A Stellar Dream"></div>
      <div class="col-md-1"></div><div class="col-md-7"><img src="img/portfolio/Something's-Fishy.jpg" class="img-responsive" alt="Something's Fishy"></div><div class="col-md-3"><img src="img/portfolio/Blanket-Bunny.jpg" class="img-responsive" alt="Blanket Bunny"></div><div class="col-md-1"></div></div>
</div></section>
